@model IEnumerable<AllBookViewModel>

@{
	ViewBag.Title = "All Books";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
	@foreach (var book in Model)
	{
		<div class="card col-4 mb-4" style="width: 20rem;">
			<img class="card-img-top" style="width: 18rem;" src="@book.ImageUrl" alt="Book Image">
			<div class="card-body">
				<h5 class="card-title mt-1">@book.Title</h5>
				<p class="mb-0">Author: @book.Author</p>
				<p>Description: @book.ShortDescription</p>
			</div>
			<div class="card-footer d-flex justify-content-between">
				<form method="post" asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId">
					<button type="submit" class="btn btn-info mr-2">Details</button>
				</form>
				@if (this.User.IsAdmin())
				{
					<form method="get" asp-controller="Book" asp-action="Edit" asp-route-id="@book.BookId">
						<button type="submit" class="btn btn-warning">Edit</button>
					</form>
					<form method="post" asp-controller="Book" asp-action="Delete" id="deleteBookForm">
						<input type="hidden" name="bookId" value="@book.BookId" />
						<button type="submit" class="btn btn-danger mr-2">Delete</button>
					</form>
				}
				<form method="post" asp-controller="Cart" asp-action="AddToCart" id="addToCartForm">
					<input type="hidden" name="bookId" value="@book.BookId" />
					<input type="number" name="quantity" value="1" class="form-control" style="width: 70px;" />
					<button type="submit" class="btn btn-primary">Buy</button>
				</form>
			</div>
		</div>
	}
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
