@model EditBookViewModel

@{
    ViewBag.Title = "Edit Book";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" asp-controller="Book" asp-action="Edit" id="editBookForm">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AuthorFirstName" class="form-label">Author First Name</label>
                <input asp-for="@Model.AuthorFirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.AuthorFirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AuthorLastName" class="form-label">Author Last Name</label>
                <input asp-for="@Model.AuthorLastName" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.AuthorLastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AuthorBiography" class="form-label">AuthorBiography</label>
                <textarea asp-for="@Model.AuthorBiography" class="form-control" rows="5"></textarea>
                <span asp-validation-for="@Model.AuthorBiography" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.StockQuantity" class="form-label">StockQuantity</label>
                <input asp-for="@Model.StockQuantity" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.StockQuantity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Url" class="form-label">Image URL</label>
                <input asp-for="@Model.Url" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Url" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.GenreId" class="form-label">Genre</label>
                <select asp-for="@Model.GenreId" class="form-control">
                    @foreach (var genre in @Model.Genres)
                    {
                        <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning mr-2">Save Changes</button>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>